/* For clarity, explicitly state some recommendations from <http://www.w3.org/
   TR/CSS21/sample.html> to make sure the editsection links scale right */

body {
	color: #1a1a1a;
	font: 14px/1.5em "Myriad Pro", "Helvetica Neue", helvetica, Arial, sans-serif;
}

h1 { font-size: 2.55em; }
h2 { font-size: 2.7em; }
h3 { font-size: 1.8em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }

/* Now the custom parts */

/* Make edit sections (which are inside h# tags) normal-sized */
.editsection {
	font-weight: normal;
	font-size: 50%;
}

/*
h1 .editsection { font-size: 50% }
h2 .editsection { font-size: 66.7% }
h3 .editsection { font-size: 85.5% }
h5 .editsection { font-size: 120% }
h6 .editsection { font-size: 133% }
*/

#toolbar {
  display: none;
}

div.center {
  text-align: center;
}

#contentSub {
  padding-left: 2em;
}

/* Links */

a:link, a:visited, a.new {
  color: #000;
}

/*
a:hover, a:active {
  background-color: #fdeef5;
  color: #000;
}
*/

a#logo {
	background-color: transparent;
	border:none;
}

/* Layout */
/*#container {
	width: 65%;
	min-width: 50em;
	margin: 0 auto 0 15em;
}*/

#site-toc {
	background-color: #f3f9fb;
	padding: 10px;
}

#site-toc h2 {
	display:inline;
	font-size: 1.2em;
	border: 0px;
}
#site-toc ul {
	margin-left: 0px;
	margin-bottom: 20px;
}
#site-toc ul li {
	list-style:none;
}

/* header */
#header {
	border-bottom: 3px solid #0091b0;
}

div#header-left {
	float:left;
}

div#header-right {
	float:right;
}


h1 { 
	padding-bottom: 0px;
	font-weight: 0;
	margin: 7px 0px 25px 0px;
}

h2 {
	font-weight:bold;
	padding:25px 0 10px 0;
	margin:0px;
}

h3 {
	color: #1a1a1a;
	font-weight:bold;
	margin-bottom: 5px;
	margin-top: 25px;
	padding-bottom: 5px;
}

/* menus */

ul#user-links {
	float:right;
	list-style: none;
	margin:0px;
}
ul#user-links li {
	display:inline;
	margin-left:7px;
}

ul#page-links {
	margin:0px 0px 5px 0px;
	float:right;
}
ul#page-links li {
	display:inline;
	margin-left:7px;
	list-style:none;
}

.links-header {
	display:none;
}

/* main content */
#content {
}

/* footer */
#footer {
	border-top:1px solid #e6e6e6;
	font-size: small;
	text-align:center;
	width:100%;
	margin-top:60px;
	padding-top:5px;
}

/* top prev/next box */
div#top-nav {
	border: 1px solid #ED1E79;
	margin: 0px -50px 0px -50px;
	text-align:center;
	padding:10px 50px 0px 50px;
}

div#top-nav a {
	color: #ED1E79;
	font-size: larger;
	font-weight: bold;
}

div#top-nav #toc-link {
	margin-top:20px;
	margin-bottom:-12px;
}
div#top-nav #toc-link a {
	color: #ED1E79;
	font-size: small;
	font-weight: normal;
}

#prev-chap {
	float:left;
	text-align:left;
	width:40%
}
#prev-chap img {
	float:left;
	margin: 5px 10px 0px -40px;
}
.chap-dir {
	text-transform: uppercase;
	color:#595959;
	font-size:small;
}

#next-chap {
	float:right;
	text-align:right;
	width:40%
}
#next-chap img {
	float:right;
	margin: 5px -40px 0px 10px;	
}

/* hide tabs */

#ca-history, #ca-delete, #ca-move, #ca-protect, #ca-watch { display:none!important; }
#pt-userpage, #pt-mytalk, #pt-watchlist, #pt-mycontris, #pt-anonuserpage, #pt-anontalk { display:none!important; }

#pt-anonlogin {
	background-image: url('/skins/floe/images/icon_login.png');
	background-repeat: no-repeat;
	padding-left: 20px;
}

.clearfix {
	clear:both;
}

img {
    border: none;
}

p {
    margin: 15px 0px 5px 0px;
    line-height: 2em;
}

li { line-height: 2em; }

p img { margin: 0; }


fieldset {
    margin: 1em 0em 1em 0em;
    padding: 0em 1em 1em 1em;
}
.usermessage {
    background-color: #ffce7b;
    border: 1px solid #ffa500;
    color: Black;
    font-weight: bold;
    margin: 2em 0em 1em 0em;
    padding: 0.5em 1em;
    vertical-align: middle;
}
.error {
    color: red;
    font-size: larger;
}

table.rimage {
    float:right;
    position:relative;
    margin-left:1em;
    margin-bottom:1em;
    text-align:center;
}

.portlet {
    border: none;
    float: none;
    padding: 0;
    width: 11.8em;
    overflow: hidden;
}
.portlet h4 {
    font-weight: normal;
    white-space: nowrap;
}
.portlet h5 {
  padding: 0em 1em 0em 0.5em;
  display: inline;
  height: 1em;
  font-weight: normal;
  white-space: nowrap;
}
.portlet h6 {
    padding: 0em 1em 0em 1em;
    display: block;
    height: 1.2em;
    font-weight: normal;
    white-space: nowrap;
}
.pBody {
    border-collapse: collapse;
    padding: 0 0.8em 0.3em 0.5em;
}
.portlet h1,
.portlet h2,
.portlet h3,
.portlet h4 {
  margin: 0;
  padding: 0;
  font-size: small;
}

#p-search .pBody {
    text-align: center;
}

#searchInput {
  width: 100%;
  clear: both;
  margin: 0 0 0 0;
}

input.searchButton {
    margin-top:1px;
    padding: 0 0.4em;
    cursor: pointer;
}

#p-search .pBody {
    padding: 0.5em 0.4em 0.4em 0.4em;
}

/* feed links */
a.feedlink {
	background: url("../common/images/feed-icon.png") center left no-repeat;
	padding-left: 16px;
}

textarea {
  width: 100%;
}

.pBody li, .pBody ul {
	padding-left: 0em;
	margin-left: 0.5em;
}

pre {
  margin: 2em;
  border: solid 1px black;
}


#bodyContent a[href ^="http://"],
#bodyContent a[href ^="gopher://"] {
    background: url("external.png") center right no-repeat;
    padding-right: 13px;
}
#bodyContent a[href ^="https://"],
.link-https {
    background: url("lock_icon.gif") center right no-repeat;
    padding-right: 16px;
}
#bodyContent a[href ^="mailto:"],
.link-mailto {
    background: url("mail_icon.gif") center right no-repeat;
    padding-right: 18px;
}
#bodyContent a[href ^="news://"] {
    background: url("news_icon.png") center right no-repeat;
    padding-right: 18px;
}
#bodyContent a[href ^="ftp://"],
.link-ftp {
    background: url("file_icon.gif") center right no-repeat;
    padding-right: 18px;
}
#bodyContent a[href ^="irc://"],
#bodyContent a.extiw[href ^="irc://"],
.link-irc {
    background: url("discussionitem_icon.gif")  center right no-repeat;
    padding-right: 18px;
}

#bodyContent a.extiw,
#bodyContent a.extiw:active {
  color: #5E7CFF;
  background: none;
  padding: 0;
}

td.diff-addedline {
    background-color: #B9FFB0;
}

td.diff-deletedline {
    background-color: #f8ffaa;
}

.diffchange { background-color: #FFCDF3; text-decoration: none; }
#pagehistory li { border: none; }

span.urlexpansion {
  display: none;
}

div.tocindent {
  margin-left: 2em;
}

div#toc {
  display:table;
  border-top: 3px solid #000000;
  border-bottom: 1px solid #000000;
  text-align: left;
  padding: 17px 17px 2px 17px;
  margin: 10px 0px 10px 0px;
}

#toc h3 {
	display: inline;
	border-bottom: none;
	font-weight: normal;
	font-size: 1.4em;
	color: #333;
}

#toc ul {
	font-weight: normal;
	font-size: 1em;
	margin-left: 0px;
}

#toc li {
	list-style:none;
	margin-bottom: 10px;
	line-height: normal;
}

#toc li.toclevel-2 {
	font-size: 0.7em;
	font-weight: normal;
	margin-left: 15px;
}

#toc a {
	text-decoration: none;
}

.tocnumber {
	font-weight: bold;
	color: #333;
}

.toctext {
	text-decoration: underline;
}

div.floatright, table.floatright {
    clear: right;
    float: right;
    margin: 0;
    position: relative;
    border-width: 0.5em 0 0.8em 1.4em;
}
div.floatright p { font-style: italic; }
div.floatleft, table.floatleft {
    float: left;
    clear: left;
    margin: 0.3em 0.5em 0.5em 0;
    position: relative;
    border-width: 0.5em 1.4em 0.8em 0;
}
div.floatleft p { font-style: italic; }
/* thumbnails */
div.thumb {
    margin-bottom: 0.5em;
    width: auto;
}
div.thumbinner {
    padding: 3px !important;
    text-align: center;
    overflow: hidden;
}

html .thumbcaption {
    border: none;
    text-align: left;
    line-height: 1.4;
    padding: 0.3em 0 0.1em 0;
}
div.magnify {
    float: right;
    border: none !important;
    background: none !important;
}
div.magnify a, div.magnify img {
    display: block;
    border: none !important;
    background: none !important;
}
div.tright {
    clear: right;
    float: right;
    border-width: 0.5em 0 0.8em 1.4em;
}
div.tleft {
    float: left;
    clear: left;
    margin-right:0.5em;
    border-width: 0.5em 1.4em 0.8em 0;
}
img.thumbborder {
	border: 1px solid #dddddd;
}

.catlinks {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
}

#mytabs {
  background-color: inherit;
}
#p-cactions {
  background-color: inherit;
}
div.printfooter {
  display: none;
}

#n-portal,
#n-currentevents,
#n-help,
#n-sitesupport {
  display: none;
}

#preftoc {
    float: left;
    margin: 1em;
}
#preftoc li {
}
#preftoc li.selected {
    border: 1px dashed #aaa;
}
#preftoc a,
#preftoc a:active {
    display: block;
}
div.htmlform-tip {
    font-size: 95%;
    margin-top: 1em;
}

#mw_trackbacks {
	border-style: groove;
	padding: 0.2em;
}

table.collapsed tr.collapsable {
	display: none;
}

.templatesUsed { margin-top: 1.5em; }



/* custom styling for UIO "show" button */
.fl-uiOptions-fatPanel .fl-toggleButton {
    background-color: #f2f2f2;
    border: none;
    border-radius: 0;
    font-weight: normal;
    text-transform: none;
    background-image: url('/skins/floe/images/icon-+-a.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 50px;
    margin-right: 0;
}
.fl-uiOptions-fatPanel .fl-panelBar {
    border: none;
}
.fl-uiOptions-fatPanel-iframe {
    border: solid 1px gray;
}
.fl-uiOptions-fatPanel .fl-panelBar {
    width: 75%;
}
